---
import { getCollection } from 'astro:content'
import DatePublieLe from './DatePublieLe.astro'
interface Post {
  title: string
  url: string
  date: {
    time: number
    string: string
  }
  excerpt: string | undefined
}
const allPosts = await getCollection('posts')
allPosts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
---

{
  allPosts.map(({ slug, data }) => (
    <li class="py-12">
      <article class="space-y-2 xl:grid xl:grid-cols-4 xl:space-y-0 xl:items-baseline">
        <a href={`/posts/${slug}/`}>{data.title}</a>
      </article>
    </li>
  ))
}
