---
import { getCollection } from 'astro:content'
import ArticleExtraitPlusRecent from './ArticleExtraitPlusRecent.astro'

const allPosts = (await getCollection('posts'))
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .filter(({ data }) => !data.draft)
---

<ul class="divide-y divide-gray-200 dark:divide-slate-200/5">
  {
    allPosts.map((entry) => (
      <li class="py-12">
        <ArticleExtraitPlusRecent entry={entry} />
      </li>
    ))
  }
</ul>
