---
import { getCollection } from 'astro:content'
import ArticleExtraitPlusRecent from './ArticleExtraitPlusRecent.astro'

const allPosts = await getCollection('posts')
allPosts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
---

{
  allPosts.map((entry) => (
    <li class="py-12">
      <ArticleExtraitPlusRecent entry={entry} />
    </li>
  ))
}
