---
const afficherInscriptionReussie = false
const erreurDurantInscription = undefined
const afficherBientotDisponible = false

const newsletterAction = 'https://buttondown.com/api/emails/embed-subscribe/nirina'
---

<form
  id="newsletter-form"
  method="POST"
  action={newsletterAction}
  class="w-full mx-auto p-6 rounded-lg text-gray-900 dark:text-white space-y-4"
>
  <h2 class="text-2xl font-semibold">Une newsletter qui parle d'humanité et de technologie ?</h2>

  <p class="text-sm text-gray-700 dark:text-gray-300">
      La tech évolue très vite. Et c'est difficile à suivre. Nous rentrons dans un monde qui change éternellement, et si les innovations se succèdent, mais c'est dur pous nous, les humains, de suivre.<br/></br>
      <b>Et si je vous aidais à y voir plus clair ?</b></br></br>
      Je publie une fois par mois sur plein de sujets, avec ma touche personnelle, mon sarcasme et mon humour...<br/><br/>
      Alors ne ratez rien et abonnez vous !
  </p>

  <div class="space-y-2">
    <label for="email" class="block text-sm font-medium"> Adresse email </label>
    <input
      disabled={afficherBientotDisponible}
      type="email"
      id="email"
      autocomplete="email"
      required
      name="email"
      class="bordures-degrade w-full px-4 py-2 border border-gray-300 text-gray-900 dark:text-gray-100 dark:bg-gray-700 dark:border-gray-600"
      placeholder="Votre adresse email"
      transition:persist
    />
  </div>

  <div class="flex items-center space-x-2">
    <input
      disabled={afficherBientotDisponible}
      type="checkbox"
      id="consent"
      name="consent"
      required
      class="h-4 w-4 text-indigo-600 border-gray-300 rounded-sm focus:ring-indigo-500"
    />
    <label for="consent" class="text-sm">
      J'accepte de recevoir la newsletter.
    </label>
  </div>

  <div class="text-xs text-gray-600 dark:text-gray-400">
    Vous pouvez vous désinscrire à tout moment. Pour plus de détails, vous
    pouvez me contacter à
    <a
      href="mailto:hello@nirinarabeson.fr"
      class="text-indigo-600 hover:text-indigo-500 underline"
      >hello@nirinarabeson.fr</a
    >.
  </div>

  {
    !afficherBientotDisponible ? (
      <button
        type="submit"
        class="w-full py-2 px-4 bg-indigo-600 hover:bg-indigo-500 text-white font-semibold shadow-sm focus:outline-hidden focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-white dark:focus:ring-offset-gray-800"
      >
        S'inscrire
      </button>
    ) : (
      <button
        type="submit"
        disabled
        class="hover:cursor-not-allowed w-full py-2 px-4 bg-gray-600 hover:bg-gray-500 text-white font-semibold shadow-sm focus:outline-hidden focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-white dark:focus:ring-offset-gray-800"
      >
        S'inscrire (bientôt disponible)
      </button>
    )
  }

  {
    afficherInscriptionReussie && (
      <p class="text-sm text-gray-700 dark:text-gray-300">
        Inscription réussie ! Vous devriez bientôt recevoir un email de confirmation...
      </p>
    )
  }
  {
    erreurDurantInscription && (
      <p class="text-sm text-gray-700 dark:text-gray-300">
        L'erreur suivante a eu lieu durant ton inscription :{" "}
        {erreurDurantInscription}
      </p>
    )
  }
</form>

<style>
  .bordures-degrade {
    /* animation: fade-in 0.8s ease-out forwards; */
    /* opacity: 0; */
    border: 1px solid transparent;
    border-image: linear-gradient(
      to bottom right,
      #b827fc 0%,
      #2c90fc 25%,
      #888888 50%,
      #888888 75%,
      #888888 100%
    );
    border-image-slice: 1;
  }
</style>
