---
import Layout from '../../layouts/Layout.astro'
import ArticlesLesPlusRecents from '../blog/ArticlesLesPlusRecents.astro'
import AnimatedHomeTitle from '../header/AnimatedHomeTitle.astro'
---

<Layout title="Nirina Rabeson" showNirinaRabesonInNavBar
  ><div class="divide-y divide-gray-200 dark:divide-slate-200/5">
    <div class="pt-6 pb-8 space-y-2 md:space-y-5">
      <AnimatedHomeTitle />
      <p class="description text-lg leading-7 text-dark dark:text-white">
        Je suis ingénieur en informatique spécialisé en développement frontend.
        Je suis passionné de musique, de stack javascript, mais j'adore aussi le
        partage et la bonne vibe. Motivé par une énergie détonnante et une bonne
        humeur inébranlable, j'ai plaisir à contribuer et partager, que ce soit
        dans le domaine du web, de l'intelligence artificielle, ou de sujets
        très variés un peu geeks.
      </p>
    </div>
    <ArticlesLesPlusRecents />
  </div></Layout
>

<style scoped>
  .employeur-lien {
    transition: 1s all ease;
    color: color-mix(in oklab, hsl(0, 70%, 35.29%) 0%, black);
  }

  .description:hover .employeur-lien,
  .employeur-lien:hover {
    color: color-mix(in oklab, hsl(0, 70%, 35.29%) 100%, black);
  }
  .dark .employeur-lien {
    color: color-mix(in oklab, hsl(0, 70%, 35.29%) 0%, white);
  }
  .dark .description:hover .employeur-lien,
  .dark .employeur-lien:hover {
    color: color-mix(in oklab, hsl(0, 70%, 35.29%) 100%, white);
  }
</style>
