---
import { getSecret } from 'astro:env/server'

import { ENABLE_CHAT as ENABLE_CHAT_ENV } from '../../../utils/environment-variables'
import Layout from '../../layouts/Layout.astro'
import { getSortedPublishedPosts } from '../../utils/getCollections'
import ArticlesLesPlusRecents from '../blog/ArticlesLesPlusRecents.astro'
import ChatInterfaceVue from '../chat/ChatInterface.vue'
import ChatInterfaceV2Vue from '../chat/ChatInterfaceV2.vue'
import MovingAnimatedHomeTitle from '../header/MovingAnimatedHomeTitle.astro'
import ToggleComponents from '../utils/ToggleComponents.astro'

const lastPost = (await getSortedPublishedPosts()).at(0)?.id

const ENABLE_CHAT = getSecret(ENABLE_CHAT_ENV)

export const prerender = false
---

<Layout title="Nirina Rabeson" animate showNirinaRabesonInNavBar
  ><div class="m-auto">
    <div class="pt-6 pb-8 space-y-2 md:space-y-5 text-center">
      <MovingAnimatedHomeTitle />
    </div>

    <div class="m-auto max-w-2xl">
      <h2
        class="text-lg text-center md:text-2xl leading-3 text-gray-900 dark:text-white tracking-tight sm:leading-10 md:leading-14 mb-3"
      >
        Comment puis-je vous aider aujourd'hui ?
      </h2>
      <ToggleComponents toggle={ENABLE_CHAT ? 'a' : 'b'}>
        <ChatInterfaceV2Vue slot="a" client:load lienDernierArticle={`/posts/${lastPost}`} />
        <ChatInterfaceVue slot="b" client:load lienDernierArticle={`/posts/${lastPost}`} />
      </ToggleComponents>
    </div>
  </div>
  <div class="mt-10 m-auto w-full text-center text-black/50 dark:text-white/50 text-xs">
    <strong>Attention</strong> : ce chatbot est encore expérimental. Vérifiez vos sources et soyez raisonnables.
  </div>
  <ArticlesLesPlusRecents />
</Layout>

<style scoped>
  .zenika-lien {
    transition: 1s all ease;
    color: color-mix(in oklab, hsl(0, 70%, 35.29%) 0%, black);
  }

  .description:hover .zenika-lien,
  .zenika-lien:hover {
    color: color-mix(in oklab, hsl(0, 70%, 35.29%) 100%, black);
  }
  @media (prefers-color-scheme: dark) {
    .zenika-lien {
      color: color-mix(in oklab, hsl(0, 70%, 35.29%) 0%, white);
    }
    .description:hover .zenika-lien,
    .zenika-lien:hover {
      color: color-mix(in oklab, hsl(0, 70%, 35.29%) 100%, white);
    }
  }
</style>
