.perspective-on-hover,
.big-perspective-on-hover {
  transform: perspective(500px) translate3d(0, 0, 0);

  transition: transform 1s;
  backface-visibility: hidden;
}

@media screen and (prefers-reduced-motion: reduce) {
  .perspective-on-hover,
  .big-perspective-on-hover {
    animation: none !important;
    transform: none !important;
  }
}

.perspective-on-hover:hover {
  transform: perspective(500px) translate3d(0, 0, 18px);
}

.big-perspective-on-hover:hover {
  transform: perspective(500px) translate3d(0, 0, 5px);
}
