@theme {
  --color-form: var(--theme-color-form);
  --color-send-message: var(--theme-color-send-message);
  --color-send-message-active: var(--theme-color-send-message-active);
  --color-suggestion-chat: var(--theme-color-suggestion-chat);
  --color-paragraph: var(--theme-paragraph-color);
}

* {
  color: var(--color-paragraph);
}

@layer base {
  :root {
    --theme-color-form: #ffffff;
    --theme-color-send-message: var(--color-blue-500);
    --theme-color-send-message-active: var(--color-blue-400);
    --theme-color-suggestion-chat: var(--color-slate-100);
    --theme-paragraph-color: var(--color-slate-900);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --theme-color-form: var(--color-slate-700);
      --theme-color-suggestion-chat: var(--color-slate-800);
      --theme-paragraph-color: var(--color-slate-200);
    }
  }
}
