.prose hr {
  border-top: 1px solid #e5e7eb;
}

.prose :where(:not(pre) > code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  color: #0a3760;
  padding: 0.25em 0.4em;
  border-radius: 4px;
  background-color: #eee;
}

.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *))::before {
  content: "" !important;
}

.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *))::after {
  content: "" !important;
}

@media (prefers-color-scheme: dark) {
  .prose :where(:not(pre) > code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    color: #d1e9ff;
    background-color: #3c3a5b;
  }
}

@media (max-width: 518px) {
  .prose img {
    max-width: 100% !important;
  }
}
