---
import type { CollectionEntry } from 'astro:content'
interface Props {
  nextPost: CollectionEntry<'posts'>
  class: string
}

const { nextPost, class: className } = Astro.props
---

<div class={className}>
  <h2 class="text-xs tracking-wide uppercase text-dark dark:text-white">
    <slot />
  </h2>
  <div class="link">
    <a href=`/posts/${nextPost?.id}`>{nextPost?.data.title}</a>
  </div>
</div>
