---
interface Props {
  href: string
}

const { href } = Astro.props
---

<div class="perspective-on-hover dark:text-white leading-5">
  <a class="dark:hover:text-gray-200" href={href}><slot /></a>
</div>
