---
import AnimatedBoutonMeContacter from '../../components/AnimatedBoutonMeContacter.astro'
import LinkInHeader from './LinkInHeader.astro'
import NavigationMenuList from './menu/NavigationMenuList.astro'

interface Props {
  animate?: boolean
}

const { animate } = Astro.props
---

<nav class:list={['flex', 'justify-between', 'items-center', 'pb-0','sm:pb-10', animate && 'animate']}>
  <a class="perspective-on-hover text-xl" href="/" aria-label="Site de Nirina Rabeson">
    <slot />
  </a>

  <div
    class="hidden md:flex justify-between items-center py-10 font-bold gap-5 text-sm text-gray-700 hover:text-gray-800"
  >
    <LinkInHeader href="/blog">Mon blog</LinkInHeader>
    <LinkInHeader href="/projets">Mes projets</LinkInHeader>
    <LinkInHeader href="/presentations">Mes presentations</LinkInHeader>
    <LinkInHeader href="/newsletter">Newsletter</LinkInHeader>
    <AnimatedBoutonMeContacter />
  </div>

  <NavigationMenuList />
</nav>

<style>
  .animate {
    animation: slide-in 0.8s ease-out forwards;
    animation-delay: 0.4s;
    opacity: 0;
  }

  @keyframes slide-in {
    0% {
      transform: translateY(-65px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
</style>
