---
import AnimatedBoutonMeContacter from '../../components/AnimatedBoutonMeContacter.astro'
import LinkInHeader from './LinkInHeader.astro'
---

<nav class="flex justify-between items-center pb-10">
  <a
    class="perspective-on-hover text-xl"
    href="/"
    aria-label="Site de Nirina Rabeson"
  >
    <slot />
  </a>

  <div class="flex justify-between items-center py-10 font-bold gap-5">
    <LinkInHeader href="/projets">Mes projets</LinkInHeader>
    <LinkInHeader href="/presentations">Mes presentations</LinkInHeader>
    <AnimatedBoutonMeContacter />
  </div>
</nav>
