---
import AnimatedBoutonMeContacter from '../../components/AnimatedBoutonMeContacter.astro'
import LinkInHeader from './LinkInHeader.astro'
import NavigationMenuList from './menu/NavigationMenuList.astro'
---

<nav class="flex justify-between items-center pb-10">
  <a
    class="perspective-on-hover text-xl"
    href="/"
    aria-label="Site de Nirina Rabeson"
  >
    <slot />
  </a>

  <div
    class="hidden md:flex justify-between items-center py-10 font-bold gap-5 text-sm"
  >
    <LinkInHeader href="/blog">Mon blog</LinkInHeader>
    <LinkInHeader href="/projets">Mes projets</LinkInHeader>
    <LinkInHeader href="/presentations">Mes presentations</LinkInHeader>
    <AnimatedBoutonMeContacter />
  </div>

  <NavigationMenuList />
</nav>
