<h1
  class="relative -z-10 statement-font rainbow-animation text-3xl leading-9 font-extrabold text-gray-900 dark:text-white tracking-tight sm:text-4xl sm:leading-10 md:text-6xl md:leading-14"
>
  Nirina Rabeson
</h1>
