---
interface Props {
  show: boolean
}

const { show } = Astro.props
---

<a class="text-xl" href="/" aria-label="Site de Nirina Rabeson">
  ✨
  {
    show && (
      <span class="hidden md:inline dark:text-white">
        Nirina Rabeson
      </span>
    )
  }
</a>
