---
import { Font } from 'astro:assets'
import { ClientRouter } from 'astro:transitions'
import '../styles/theme.css'
import MetaProperties from './MetaProperties.astro'
import RainbowRotatingBackground from './background/RainbowRotatingBackground.astro'
import NavigationHeader from './header/NavigationHeader.astro'
interface Props {
  title: string
  showNirinaRabesonInNavBar?: boolean
  animate?: boolean
  image?: string // TODO: fix this prop drilling
}

const { title, showNirinaRabesonInNavBar, animate, image } = Astro.props
---

<!doctype html>
<html lang="fr-FR" class="overflow-x-hidden">
  <head>
    <ClientRouter />

    <meta charset="utf-8" />

    <MetaProperties title={title} image={image} />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Site de Nirina Rabeson."
      href={new URL('rss.xml', Astro.site)}
    />
    <Font cssVariable='--dm-serif-text-font' preload />
    <Font cssVariable='--font-sans' preload />


    <meta name="theme-color" content="#211440" media="(prefers-color-scheme: dark)" />
    <meta name="theme-color" content="#dbdae2" media="(prefers-color-scheme: light)" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  </head>
  <script>
    // On page load or when changing themes, best to add inline in `head` to avoid FOUC
    document.documentElement.classList.toggle(
      'dark',
      localStorage.theme === 'dark' ||
        (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches),
    )

    // Whenever the user explicitly chooses light mode
    localStorage.theme = 'light'

    // Whenever the user explicitly chooses dark mode
    localStorage.theme = 'dark'

    // Whenever the user explicitly chooses to respect the OS preference
    localStorage.removeItem('theme')
  </script>

  <body class="relative overflow-x-hidden">
    <RainbowRotatingBackground />

    <div>
      <div class="antialiased">
        <div class="max-w-3xl mx-auto px-4 sm:px-6 xl:max-w-5xl xl:px-0">
          <NavigationHeader animate={animate}>
            ✨
            {
              !showNirinaRabesonInNavBar && (
                <h3 class="inline statement-font rainbow-animation">Nirina Rabeson</h3>
              )
            }</NavigationHeader
          >
        </div>
        <main class="max-w-4xl mx-auto px-4 sm:px-6 xl:px-0 mb-20">
          <slot />
        </main>
      </div>
    </div>
    <a class="hidden" rel="me" href="https://hachyderm.io/@nirina">Mastodon</a>
  </body>
</html>
