---
import '../styles/theme.css'
import RainbowRotatingBackground from './background/RainbowRotatingBackground.astro'
import NavigationHeader from './header/NavigationHeader.astro'
interface Props {
  title: string
  showNirinaRabesonInNavBar?: boolean
  animate?: boolean
}

const { title, showNirinaRabesonInNavBar, animate } = Astro.props
---

<!doctype html>
<html lang="fr-FR" class="overflow-x-hidden">
  <meta charset="utf-8" />

  <meta name="fediverse:creator" content="@nirina@nirinarabeson.fr" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta lang="fr-FR" />
  <title>{title}</title>
  <meta property="og:image:secure_url" content="https://www.nirinarabeson.fr/card.png" />
  <meta property="og:image" content="https://www.nirinarabeson.fr/card.png" />
  <meta property="og:image:url" content="https://www.nirinarabeson.fr/card.png" />
  <meta name="twitter:site" content="@nirinarabeson.fr" />
  <meta name="twitter:title" content="Blog de Nirina Rabeson" />
  <meta property="og:title" content="Blog de Nirina Rabeson" />
  <meta name="twitter:image" content="https://www.nirinarabeson.fr/card.png" />
  <meta property="og:type" content="homepage" />
  <meta
    name="twitter:description"
    content="Site de Nirina Rabeson. Je parle de Javascript, de musique, de technologie le tout avec mon humour à moi et mes propres opinions."
  />
  <meta
    property="og:description"
    content="Site de Nirina Rabeson. Je parle de Javascript, de musique, de technologie le tout avec mon humour à moi et mes propres opinions."
  />
  <meta
    name="description"
    content="Site de Nirina Rabeson. Je parle de Javascript, de musique, de technologie le tout avec mon humour à moi et mes propres opinions."
  />
  <link
    rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✨</text></svg>"
  />
  <link
    rel="alternate"
    type="application/rss+xml"
    title="Site de Nirina Rabeson."
    href={new URL('rss.xml', Astro.site)}
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
  <meta name="theme-color" content="#211440" media="(prefers-color-scheme: dark)" />
  <meta name="theme-color" content="#dbdae2" media="(prefers-color-scheme: light)" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <script>
    // On page load or when changing themes, best to add inline in `head` to avoid FOUC
    document.documentElement.classList.toggle(
      'dark',
      localStorage.theme === 'dark' ||
        (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches),
    )

    // Whenever the user explicitly chooses light mode
    localStorage.theme = 'light'

    // Whenever the user explicitly chooses dark mode
    localStorage.theme = 'dark'

    // Whenever the user explicitly chooses to respect the OS preference
    localStorage.removeItem('theme')
  </script>

  <body class="relative overflow-x-hidden">
    <RainbowRotatingBackground />

    <div>
      <div class="antialiased">
        <div class="max-w-3xl mx-auto px-4 sm:px-6 xl:max-w-5xl xl:px-0">
          <NavigationHeader animate={animate}>
            ✨
            {
              !showNirinaRabesonInNavBar && (
                <span class="statement-font rainbow-animation dark:text-white">Nirina Rabeson</span>
              )
            }</NavigationHeader
          >
        </div>
        <main class="max-w-4xl mx-auto px-4 sm:px-6 xl:px-0 mb-20">
          <slot />
        </main>
      </div>
    </div>
    <a class="hidden" rel="me" href="https://hachyderm.io/@nirina">Mastodon</a>
  </body>
</html>
