---
import '../styles/theme.css'
import NavigationHeader from './header/NavigationHeader.astro'
interface Props {
  title: string
  showNirinaRabesonInNavBar?: boolean
  animate?: boolean
}

const { title, showNirinaRabesonInNavBar, animate } = Astro.props
---

<!doctype html>
<meta charset="utf-8" />
<head>
  <meta name="fediverse:creator" content="@nirina@nirinarabeson.fr" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta lang="fr-FR" />
  <title>{title}</title>
  <meta
    property="og:image:secure_url"
    content="https://www.nirinarabeson.fr/card.png"
  />
  <meta property="og:image" content="https://www.nirinarabeson.fr/card.png" />
  <meta
    property="og:image:url"
    content="https://www.nirinarabeson.fr/card.png"
  />
  <meta name="twitter:site" content="@nirinarabeson.fr" />
  <meta name="twitter:title" content="Blog de Nirina Rabeson" />
  <meta property="og:title" content="Blog de Nirina Rabeson" />
  <meta name="twitter:image" content="https://www.nirinarabeson.fr/card.png" />
  <meta property="og:type" content="homepage" />
  <meta
    name="twitter:description"
    content="Site de Nirina Rabeson. Je parle de Javascript, de musique, de technologie le tout avec mon humour à moi et mes propres opinions."
  />
  <meta
    property="og:description"
    content="Site de Nirina Rabeson. Je parle de Javascript, de musique, de technologie le tout avec mon humour à moi et mes propres opinions."
  />
  <meta
    name="description"
    content="Site de Nirina Rabeson. Je parle de Javascript, de musique, de technologie le tout avec mon humour à moi et mes propres opinions."
  />
  <link
    rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✨</text></svg>"
  />
  <link
    rel="alternate"
    type="application/rss+xml"
    title="Site de Nirina Rabeson."
    href={new URL('rss.xml', Astro.site)}
  />
  <link rel="stylesheet" href="/styles/global.css" />
</head>
<body>
  <div class="funny-background absolute h-screen w-screen -z-10"></div>

  <div>
    <div class="antialiased">
      <div class="max-w-3xl mx-auto px-4 sm:px-6 xl:max-w-5xl xl:px-0">
        <NavigationHeader animate={animate}>
          ✨
          {
            !showNirinaRabesonInNavBar && (
              <span class="statement-font rainbow-animation dark:text-white">
                Nirina Rabeson
              </span>
            )
          }</NavigationHeader
        >
      </div>
      <main class="max-w-3xl mx-auto px-4 sm:px-6 xl:max-w-5xl xl:px-0 mb-20">
        <slot />
      </main>
    </div>
  </div>
  <a class="hidden" rel="me" href="https://hachyderm.io/@nirina">Mastodon</a>
</body>

<style>
  .funny-background {
    filter: blur(200px);
    opacity: 0.05;
    background: linear-gradient(
      78deg,
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 154, 0, 1) 10%,
      rgba(208, 222, 33, 1) 20%,
      rgba(79, 220, 74, 1) 30%,
      rgba(63, 218, 216, 1) 40%,
      rgba(47, 201, 226, 1) 50%,
      rgba(28, 127, 238, 1) 60%,
      rgba(95, 21, 242, 1) 70%,
      rgba(186, 12, 248, 1) 80%,
      rgba(251, 7, 217, 1) 90%,
      rgba(255, 0, 0, 1) 100%
    );
  }
</style>
