<div class="block relative md:hidden py-10 font-bold gap-5">
  <input
    type="checkbox"
    id="display-navigation"
    aria-hidden="true"
    class="peer hidden"
    name="Afficher options de navigation"
  />

  <label
    for="display-navigation"
    class="md:hidden text-gray-500 dark:text-white cursor-pointer"
    aria-label="Toggle navigation menu"
  >
    <!-- Hamburger Icon -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16m-7 6h7"></path>
    </svg>
  </label>

  <div
    class="menu-animate font-normal invisible text-nowrap peer-checked:visible absolute right-0 text-right text-md mt-1 space-y-4 bg-white dark:bg-slate-900 p-2 rounded-b-xl rounded-t-none"
  >
    <div>
      <div class="perspective-on-hover text-gray-500 dark:text-white leading-5">
        <a class="hover:text-gray-700 dark:hover:text-gray-200" href="/blog"
          >Mon blog</a
        >
      </div>
    </div>
    <div>
      <div class="perspective-on-hover text-gray-500 dark:text-white leading-5">
        <a class="hover:text-gray-700 dark:hover:text-gray-200" href="/projets"
          >Mes projets</a
        >
      </div>
    </div>
    <div>
      <div class="perspective-on-hover text-gray-500 dark:text-white leading-5">
        <a
          class="hover:text-gray-700 dark:hover:text-gray-200"
          href="/presentations">Mes presentations</a
        >
      </div>
    </div>
    <div>
      <div class="perspective-on-hover text-gray-500 dark:text-white leading-5">
        <a class="hover:text-gray-700 dark:hover:text-gray-200" href="/contact">
          Me contacter</a
        >
      </div>
    </div>
  </div>
</div>

<style scoped>
  .peer ~ .menu-animate > div > div {
    transition: opacity 0.8s ease;
    opacity: 0;
  }

  .peer:checked ~ .menu-animate > div > div {
    opacity: 1;
  }
</style>
